.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Full viewport height including safe areas */
    min-height: 100vh;

    /* Space for notches */
    padding-top: 3rem !important;

    /* Space for DockBar */
    padding-bottom: 7rem !important;

    /* Include padding in height calculation */
    box-sizing: border-box;

    /* Ensure background extends to edges */
    width: 100vw;
    margin: 0;
    padding: 0;

    /* Prevent scrolling to the left and right */
    overflow-x: hidden;

    color: var(--text-color);
    background-color: var(--background-color);
    background-image: radial-gradient(circle, #717171cc 0.0625rem, transparent 0.1rem);
    background-size: 2.5rem 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem;
    min-width: 20rem;
    max-width: 50rem;
    border: 1px solid var(--card-border);
    text-align: center;
}

.card-title {
    margin: 1rem 0;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}