.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Full viewport height including safe areas */
    min-height: 100vh;

    /* Space for notches */
    padding-top: 3rem !important;

    /* Space for DockBar */
    padding-bottom: 7rem !important;

    /* Include padding in height calculation */
    box-sizing: border-box;

    /* Use 100% instead of 100vw to prevent horizontal scrollbar */
    width: 100%;
    margin: 0;
    padding: 0;

    /* Prevent scrolling to the left and right */
    overflow-x: hidden;

    color: var(--text-color);
    background-color: var(--background-color);
    background-image: radial-gradient(circle, #717171cc 0.0625rem, transparent 0.1rem);
    background-size: 2.5rem 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 1px solid var(--card-border);
    border-radius: 2rem;
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);

    padding: 1rem;
    margin: 1rem 2rem;
    width: calc(100% - 8rem);
    min-width: 20rem;
    max-width: 50rem;
}

.card-header {
    width: 100%;
}

.card-header p {
    font-size: 1rem;
    font-style: italic;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2rem);
    margin: 1rem;
}

.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    gap: 1rem;
    width: 100%;
}

.card-row label {
    text-align: left;
}

.page-transition {
    width: 100%;
}

.page-container {
    width: 100%;
}
