@keyframes fadeInUp {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOutDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

.container-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    outline: 1px solid var(--card-border);
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    min-width: 300px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.container-popup-content h1 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.container-popup-content {
    margin: 1rem;
}

.container-popup-close-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container-popup.open {
    opacity: 1;
    visibility: visible;
    animation: fadeInUp 250ms forwards;
}

.container-popup.closing {
    animation: fadeOutDown 250ms forwards;
    opacity: 0;
    visibility: hidden;
}
