.divider-spaced-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    align-items: center;
    gap: 1rem;
    min-height: fit-content;
}

.divider-spaced-container .left-section {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    z-index: 1;
}

.divider-spaced-container .center-section {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    z-index: 1;
    width: auto;
}

.divider-spaced-container .right-section {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;

    z-index: 1;
}
