@import "../variables.css";

.dockbar {
    background-color: var(--card-background);
    outline: 3px solid var(--card-border);

    border-radius: 2rem;

    /* Settings to make the dock bar merge with the bottom of the screen */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 0;
    padding-bottom: 1.5rem;

    /* Settings to make the dock bar floating at the bottom of the screen */
    /* padding-bottom: 0.5rem;
    bottom: 2rem; */

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    left: 50%;
    position: fixed;

    transform: translateX(-50%);
    transition: transform 250ms ease-in-out;

    z-index: 500;
}

.dockbar.hidden {
    transform: translateX(-50%) translateY(150%);
}

.icon-button svg {
    width: 1.75rem;
    height: 1.75rem;
}

.icon-button.active {
    background-color: var(--main-accent);
}

.icon-button.active svg {
    color: white;
}
