@import "../variables.css";

.dockbar {
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    border: 1px solid var(--card-border);

    border-radius: 2rem;
    gap: 0.25rem;
    padding: 0.5rem;

    display: flex;
    left: 50%;
    bottom: 2rem;
    position: fixed;

    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;

    z-index: 1000;
}

.dockbar.hidden {
    transform: translateX(-50%) translateY(150%);
}

.icon-button svg {
    width: 1.75rem;
    height: 1.75rem;
}

.icon-button.active {
    background-color: var(--main-accent);
}
