.equipment-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    transition: all 200ms;

    color: var(--text-color);
    background-color: var(--card-background);
    border: 3px solid var(--card-border);
}

.equipment-toggle.enabled {
    border-color: var(--main-accent);
    background-color: var(--main-accent-light);
}

.equipment-toggle .name {
    font-weight: bold;
}

.equipment-toggle .check {
    color: var(--text-color);
}

.equipment-toggle.large {
    flex-direction: column;
    text-align: center;
    width: 5rem;
    height: 10rem;
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.equipment-toggle.large .check {
    position: absolute;
    bottom: 10px;
}

.equipment-toggle.list-item {
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 1rem;
}

.equipment-toggle.list-item .icon {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipment-toggle.list-item .name {
    flex: 1;
    margin-left: 0.5rem;
    text-align: left;
}

.equipment-toggle.list-item .check {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
