.equipment-toggle {
    width: 100%;

    border-radius: 1rem;
    border: 3px solid var(--card-border);
    background-color: var(--card-background);

    cursor: pointer;

    padding: 0.5rem;
}

.equipment-toggle.enabled {
    border-color: var(--main-accent);
    background-color: var(--main-accent-light);
}

.equipment-toggle .icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.equipment-toggle .name {
    font-weight: bold;
}

.equipment-toggle .check {
    margin-left: auto;
    margin-right: 0.5rem;
}
