.equipment-toggle {
    min-width: 16rem;

    border-radius: 1rem;
    background-color: var(--card-border);

    cursor: pointer;

    padding: 0.75rem 1rem;

    transition: background-color 200ms ease-in-out;
}

.equipment-toggle.enabled {
    color: white;
    background-color: var(--main-accent);
}

.equipment-toggle .icon {
    margin-right: 0.5rem;
}

.equipment-toggle .name {
    font-weight: bold;
}

.equipment-toggle .check-box {
    margin-left: auto;
}
