.footer-card {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    box-shadow: var(--card-shadow);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    z-index: 900;
    padding: 0;
    padding-bottom: 2rem;
    min-height: 2rem;

    width: 98%;
}

.footer-card-inner {
    opacity: 1;
}

.footer-card-content {
    padding: 0 1rem;
}

.footer-card-close-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 2rem;
    width: 2rem;
    color: var(--text-color);
}

.footer-card-close-icon:hover {
    color: var(--text-color-hover);
}