@import "../variables.css";

.icon-button {
    height: 4rem;
    width: 4rem;

    border-radius: 1.5rem;

    cursor: pointer;

    transition: all 200ms;
}

.icon-button svg {
    transition: all 200ms;
}
