.page-transition {
  position: relative;
  width: 100%;
  min-height: 100%;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-transition.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.page-transition.fadeOut {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none; /* Prevent interaction during fade out */
}