.selector-searchable {
    position: relative;
}

.selector-dropdown {
    position: absolute;
    border-radius: 1.5rem;
    overflow: hidden;

    border: 1px solid var(--border-color);
    background-color: var(--background-color);

    z-index: 1000;
}

.selector-search {
    width: calc(100% - 1.5rem);
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    outline: none;
}

.options-container {
    max-height: 15rem;
    overflow-y: auto;

    /* Hides scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.option-item {
    padding: 0.5rem;
    cursor: pointer;
}

.option-item:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.no-results {
    padding: 0.5rem;
    color: #666;
}