.equipment-toggle-container {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

.gym-list {
  width: 100%;
}

.gym-list-item {
  justify-content: space-between;
  align-items: center;
}

.gym-list-item-name {
  flex: 1;
  font-size: 1.25rem;
  font-weight: bold;
}

.gym-list-item-auto-load-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: var(--main-accent);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
