.button {
    width: 4rem;
    height: 4rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;

    transition: 200ms;
}

.button:hover {
    background-color: #e0e0e0;
    transition: 200ms;
}