.workout-preview-page,
.workout-preview-container,
.circuit-container {
    width: calc(100%);
}

.workout-preview-container {
    min-width: 350px;

    /* Leaves room for last rounds tag */
    margin-bottom: 3rem;
}

.circuit-container {
    outline: 3px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    align-items: flex-start;
    position: relative;
}

.circuit-container hr {
    outline: 1px solid var(--card-border);
    width: 100%;
}

.circuit-header {
    width: calc(100% - 2rem);
    margin: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    align-items: flex-start;
    font-size: 1.25rem;
}

.circuit-divider {
    border-left: 3px solid var(--card-border);
    height: 4rem;
    width: 100%;

    /* Draw a large dot on the left side of the divider */
    position: relative;
    align-items: flex-start;
    left: 3rem;
}
.circuit-divider::before {
    content: "";
    position: absolute;
    left: -0.65rem;
    top: 1.3rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--main-accent);
    border-radius: 50%;
}

.circuit-divider-text {
    font-weight: bold;
    margin-left: 1rem;
    color: var(--main-accent);
}

.circuit-rep-index {
    position: absolute;
    right: -3px;
    bottom: calc(-2.5rem + 4px);
    color: white;
    font-weight: 500;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-accent);
}

.circuit-preview-exercise {
    width: calc(100% - 2rem);
    margin: 0.5rem;
    align-items: flex-start;
    text-align: left;
}

.current-circuit-label {
    position: absolute;
    background-color: var(--main-accent);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}

.exercise-icon {
    width: 5rem;
    height: 3.5rem;
    background-color: var(--card-border);
    border-radius: 0.5rem;
}

.exercise-details {
    font-size: 0.8rem;
    align-items: flex-start;
}

.exercise-name {
    font-weight: bold;
    color: var(--main-accent);
}

.exercise-divider {
    font-size: 0.8rem;
    height: 1rem;
    position: relative;
    padding-left: 0.5rem;
}

.exercise-divider svg {
    position: absolute;
    color: var(--main-accent);
    left: 2.4rem;
}
