.equipment-toggle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.equipment-toggles-buttons {
}

.gym-list {
    width: 100%;
}

.gym-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gym-list-item-name {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
}
