.equipment-toggle-container {
    width: inherit;
    gap: 0.5rem;
}

.gym-list {
    width: 100%;
}

.gym-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gym-list-item-name {
    flex: 1;
    font-size: 1.25rem;
    font-weight: bold;
}
