.height-input {
    width: 4rem;
}

.weight-input {
    width: 4rem;
}

.delete-data-button {
    background-color: var(--caution-color);
}

.delete-data-button:hover {
    background-color: var(--caution-hover);
}
