.exercise-edit-buttons {
    position: absolute;
    right: 1rem;
}

.add-exercise-button-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.add-circuit-button-container {
    margin: 1rem 0;
    width: 100%;
    align-items: flex-start;
}

.workout-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 1rem);
}

.circuit-header button {
    margin-left: auto;
}

.reps-display {
    margin-top: 0.5rem;
}
