button {
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0.75rem;
    outline: none;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    transition: 100ms;
    font-size: 0.8rem;
}

button:hover {
    transition: 100ms;
    translate: 1px 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

button:active {
    transition: 0ms;
    translate: 2px 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #007aff;
}

button:hover {
    background-color: #005bb5;
}

button:active {
    background-color: #004a94;
}

button.bad {
    background-color: #888888;
}

button:hover.bad {
    background-color: #cc2e23;
}

button:active.bad {
    background-color: #a4261d;
}

button.good {
    background-color: #4cd964;
}

button:hover.good {
    background-color: #34c759;
}

button:active.good {
    background-color: #30a14e;
}

button.circle {
    padding: 1rem;
    margin: 0.5rem;
}