button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    border: none;
    outline: none;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    transition: background-color 0.3s;
}

.normal-button {
    background-color: #007aff;
}

.normal-button:hover {
    background-color: #005bb5;
}

.normal-button:active {
    background-color: #004a94;
}

.bad-button {
    background-color: #888888;
}

.bad-button:hover {
    background-color: #cc2e23;
}

.bad-button:active {
    background-color: #a4261d;
}

.confirm-button {
    background-color: #4cd964;
}

.confirm-button:hover {
    background-color: #34c759;
}

.confirm-button:active {
    background-color: #30a14e;
}