@import "variables.css";

* {
    user-select: none;
    text-align: center;
    list-style-type: none;

    /* Apple-specific font family */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    /* Android-Chrome specific fix for tap highlight */
    -webkit-tap-highlight-color: transparent;
}

html {
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overscroll-behavior: none;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

span {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

p {
    margin: 0;
}

hr {
    margin: 0;
    width: 90%;
    border: 1px solid var(--card-border);
}

button {
    /* Padding */
    padding: 0.5rem 0.75rem;

    /* Font */
    font-size: 1rem;
    font-weight: bold;

    /* Color */
    color: white;
    background-color: var(--main-accent);

    /* Box Shadow */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    /* Border */
    border: none;
    border-radius: 2rem;

    /* Cursor */
    cursor: pointer;

    /* Transition */
    transition: all 200ms;

    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button:hover {
    background-color: var(--main-accent-hover);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transform: translate(1px, 1px);
}

button:active {
    transform: translate(2px, 2px);
}

button.caution {
    background-color: var(--caution-color);
}

button.caution:hover {
    background-color: var(--caution-hover);
}

button.icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}

label {
    display: block;
    font-weight: bold;
}

input,
select {
    color: var(--text-color);
    background-color: var(--input-background);
    border: 3px solid var(--input-border);
    border-radius: 0.5rem;

    display: block;
    text-align: center;

    padding: 0.5rem;

    font-size: 1rem;
}

input[type="number"] {
    width: 5rem;
}

input[type="text"] {
    width: 15rem;
}

input:focus,
select:focus {
    outline: none;
    border: 3px solid var(--main-accent);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    background-color: var(--input-background);
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:hover {
    background-color: var(--input-background);
}

a {
    color: var(--main-accent);
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

a:hover {
    color: var(--main-accent);
}

a:active {
    color: var(--main-accent);
}

a:visited {
    color: var(--main-accent);
}
