@import "variables.css";

* {
    user-select: none;
    text-align: center;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.5rem;
}

h1 {
    font-size: 2rem;
    margin: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

h3 {
    font-size: 1rem;
    margin: 0.75rem;
}

h4 {
    font-size: 0.75rem;
    margin: 0.75rem;
}

h5 {
    font-size: 0.5rem;
    margin: 0.5rem;
}

button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: var(--main-accent);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
    transition: all 200ms;
}

button:hover {
    background-color: var(--main-accent-hover);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transform: translate(1px, 1px);
}

button:active {
    transform: translate(2px, 2px);
}

button.adjust {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
select {
    color: var(--text-color);
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-align: center;
    margin: 0.25rem auto;
}

button .caution {
    color: var(--caution-color);
}

div {
    align-items: center;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {

    input,
    select,
    button {
        max-width: 100%;
    }
}