/* Styles for select dropdowns */
select {
    appearance: auto;
    height: 40px;
    max-width: 250px;
}


/* Styles for input fields within input rows */
.input-field {
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box;


    background-color: #ffffff;
    color: #333333;
    border: 1px solid #e0e0e0;

    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

/* Styles for labels */
label {
    text-align: right;
    margin-right: 10px;
    min-width: 150px;
}

/* Layout for divs containing labels */
div:has(> label) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}