.horizontal-section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.vertical-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}