@import "variables.css";
@import "pill-toggle.css";

* {
    user-select: none;
    text-align: center;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.dark-mode body {
    background-image: radial-gradient(circle, #404040 0.0625rem, transparent 0.1rem);
}

.App {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
}

p {
    margin: 0.5rem;
}

h1 {
    font-size: 2rem;
    margin: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    margin: 1.25rem;
}

button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--button-background);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
    transition: all 100ms;
}

button:hover {
    background-color: var(--button-hover);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transform: translate(1px, 1px);
}

button:active {
    transform: translate(2px, 2px);
}

button .adjust {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    margin: 0;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
select {
    color: var(--text-color);
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-align: center;
    margin: 0.25rem;
}

button .caution {
    color: var(--caution-color);
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem auto;
    min-width: 20rem;
    max-width: 40rem;
    border: 1px solid var(--card-border);
    text-align: center;
}

@media (max-width: 768px) {
    .App {
        padding: 10px 10px 80px;
    }

    input,
    select,
    button {
        max-width: 100%;
    }

    .card {
        margin: 1rem auto;
        min-width: 0;
    }
}