:root {
    --background-color: #f2f2f7;
    --background-color-hover: #e5e5e5;

    --text-color: #333;
    --text-color-hover: #000;
    --text-color-invert: #fff;
    --text-color-invert-hover: #e0e0e0;

    --card-background: #ffffff;
    --card-border: #e0e0e0;

    --card-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    --button-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    --main-accent: #007bff;
    --main-accent-light: #0099ff;
    --main-accent-hover: #0060c6;

    --caution-color: #4a4a4a;
    --caution-hover: #ff4500;

    --input-background: #fff;
    --input-border: #ccc;

    --toggle-background: #e0e0e0;
    --toggle-hover: #d0d0d0;
}

.dark-mode {
    --background-color: #1a1a1a;
    --background-color-hover: #2a2a2a;

    --text-color: #e0e0e0;
    --text-color-hover: #fff;
    --text-color-invert: #1a1a1a;
    --text-color-invert-hover: #2a2a2a;

    --card-background: #2a2a2a;
    --card-border: #404040;

    --card-shadow: 2px 2px 10px rgba(107, 92, 92, 0.4);
    --button-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);

    --input-background: #333;
    --input-border: #555;

    --toggle-background: #404040;
    --toggle-hover: #505050;
}
