.dockbar {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 0px 10px;

    background-color: #f8f8f8;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    /* Positioning */
    z-index: 1000;
    position: fixed;
    bottom: 0;

    transition: 0.3s;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
}

@media (min-width: 768px) {
    .dockbar {
        transform: translateY(100%);
        transition: 0.3s;
    }
}