.sidebar {
    height: 100vh;
    width: 4rem;

    padding: 10px 10px;

    background-color: #f8f8f8;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    z-index: 2000;
    position: fixed;
}

.sidebar.expanded {
    width: 15rem;
}

.sidebar .button {
    width: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar.expanded .button {
    width: 15rem;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.expand-button {
    width: 4rem;
    height: 4rem;
    padding: 0px;
    margin: 0 0 10px 0;

    background: none;
    font-size: 2rem;
    color: #007aff;
    box-shadow: none;
    border-radius: 1rem;
}

.expand-button:hover {
    background: #62aeff;
    color: #ffffff;
}