.sidebar {
    width: 250px;
    height: 100%;
    padding: 10px 10px;

    background-color: #f8f8f8;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    z-index: 1000;
    position: fixed;

    transition: 0.3s;
}

@media (max-width: 768px) {
    .sidebar.collapsed {
        transform: translateX(-100%);
        transition: 0.3s;
    }

    .sidebar {
        transform: translateX(-100%);
        transition: 0.3s;
    }
}

/* Styles for the collapsed sidebar */
.sidebar.collapsed {
    width: 60px;
    transition: 0.3s;
}

.sidebar .button {
    width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar .button svg {
    margin-right: 10px;
}

.sidebar.collapsed .button svg {
    margin-right: 0px;
}

.sidebar.collapsed .button {
    width: 60px;
    margin-right: 0px;
}

.expand-button {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0 0 10px 0;

    background: none;
    font-size: 30px;
    line-height: 55px;
    vertical-align: middle;
    color: #007aff;
    box-shadow: none;
    border-radius: 20px;
}

.expand-button:hover {
    background: #62aeff;
    color: #ffffff;
}