.exercise-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.exercise-content {
    margin: auto;
}

.exercise-controls {
    margin-left: auto;
}

.exercise-controls button:disabled {
    visibility: hidden;
}

@media (max-width: 768px) {
    .exercise-content,
    .exercise-controls {
        margin: 0;
    }
}