.dockbar {
    background-color: #ffffff;
    border-radius: 2rem;
    bottom: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 0.25rem;
    left: 50%;
    padding: 0.5rem;
    position: fixed;
    transform: translateX(-50%);
    z-index: 1000;
}

.icon-button svg {
    margin: auto;
}

.icon-button {
    border-radius: 1.5rem;
    cursor: pointer;
    display: flex;
    height: 4rem;
    width: 4rem;
}

.icon-button:hover {
    background-color: #e0e0e0;
    color: #007aff;
}
