.navbar {
    width: 250px;
    height: 100vh;
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-right: 1px solid #e0e0e0;
    z-index: 1000;
    position: fixed;
    /* Fix the navbar position */

    transition: 0.3s;
}

.navbar.collapsed {
    /* Narrow width when collapsed */
    width: 60px;

    transition: 0.3s;
}

.expand-button {
    background: none;
    font-size: 30px; /* Increase font size */
    line-height: 55px; /* Adjust line height to move text up */
    vertical-align: middle; /* Ensure text is vertically aligned */
    color: #007aff;
    box-shadow: none;
    border-radius: 20px;

    padding: 0px;
    margin: 0px;
    width: 60px;
    height: 60px;
}

.expand-button:hover {
    background: #62aeff;
    color: #ffffff;
}

.navigation-menu {
    padding: 0px;
    margin: 0px;
}

.navigation-menu-item {
    width: 250px;
    height: 60px;
    padding: 0px;
    margin: 0px;

    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;

    /* Center everything */
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.navbar.collapsed .navigation-menu-item {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;

    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

/* Only show icons in collapsed mode */
.navbar.collapsed .navigation-menu-item>*:not(svg) {
    display: none;
}

.navigation-menu-item:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.navigation-menu-item:active {
    background-color: #c7c7cc;
}

.navbar.collapsed .navigation-menu-item svg {
    margin-right: 0px;
}

.navigation-menu-item svg {
    margin-right: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 60px;
        bottom: 0;
        top: auto;
        /* Ensure the navbar stays at the bottom */
        position: fixed;
        /* Fix the navbar at the bottom */
        flex-direction: row;
        padding: 10px;
    }

    .navbar.collapsed {
        width: 100%;
        height: 60px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }

    .navigation-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Center the menu */
        width: 100%;
    }    

    .navbar.collapsed .navigation-menu-item {
        margin: 0px 10px;
    }

    .expand-button {
        display: none;
    }
}