/* Base styles for notifications */
.notification {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    animation: slide-down 0.5s ease-out, slide-up 0.5s ease-in 2.5s forwards;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Success notification styles */
.notification.success {
    background-color: #4cd964;
}

/* Info notification styles */
.notification.info {
    background-color: #007aff;
}

/* Error notification styles */
.notification.error {
    background-color: #cc2e23;
}

/* Slide down animation */
@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Slide up animation */
@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
