.equipment-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.equipment-item {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid #e0e0e0;

    transition: background-color 0.3s, border-color 0.3s;
}

.equipment-item.selected {
    /* Light green for selected items */
    background-color: #d0f0c0;
    /* Slightly darker green border */
    border-color: #a3d9a5;

    transition: background-color 0.3s, border-color 0.3s;
}

.equipment-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
