/* Styles for the WorkoutInProgress component */
.card {
    text-align: center;
}

/* Styles for the exercise card */
.exercise-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

/* Styles for the exercise card content */
.exercise-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Styles for the exercise card content */
.exercise-card p {
    font-size: 18px;
    margin: 5px 0;
}

/* Styles for the exercise card content */
.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styles for the exercise card content */
.skip-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #222222;
    border: none;
    cursor: pointer;
}

/* Styles for the exercise card content */
.skip-button:hover {
    background-color: #b3b3b3;
}