* {
    user-select: none;
    text-align: center;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;

    color: #333;
    background-color: #f2f2f7;
    background-image: radial-gradient(circle, #d2d2d2 0.0625rem, transparent 0.125rem);
    background-size: 2.5rem 2.5rem;
}

div.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    margin: 1rem;
    outline: none;
    padding: 1rem 2rem;
    transition: 100ms;
    font-size: 1rem;
}

button:hover {
    transition: 100ms;
    translate: 1px 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

button:active {
    transition: 0ms;
    translate: 2px 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

select {
    appearance: auto;
    height: 2.5rem;
    max-width: 15.625rem;
}

ul {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    
    padding: 0;
}

h1 {
    margin: 1.875rem;
    font-size: 1.875rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.625rem;
}

.main-content {
    margin-left: 5rem;
    padding: 0.625rem;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        transition: 0.3s;
    }
}